Repository yasir2000/Vita-Agents, changes with the labels that .github/labeler.yml gives for each.
All labels: component: fhir-agent, component: hl7-agent, component: ehr-agent, component: web-portal, component: cli, component: api, component: database, component: docker, type: documentation, type: configuration, type: tests, type: ci/cd, healthcare: fhir, healthcare: hl7, healthcare: dicom, healthcare: snomed, dependencies, security, performance, infrastructure

feat: Add Code of Conduct to establish community standards and guidelines
  CODE_OF_CONDUCT.md
Labels: type: documentation

feat: Add comprehensive roadmap outlining vision, mission, current status, and future development plans
  ROADMAP.md
Labels: type: documentation

feat: Implement HMCP Agent CLI and Protocol for healthcare communication
  docs/HMCP_INTEGRATION.md
  examples/hmcp_workflows.py
  vita_agents/agents/hmcp_agent.py
  vita_agents/cli/hmcp_cli.py
  vita_agents/protocols/hmcp.py
Labels: component: cli, type: documentation

feat: Update changelog, README, and release notes to highlight HMCP integration and enhancements
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Labels: type: documentation

feat: Enhance HMCP Healthcare Communication features with emergency response protocols, care coordination workflows, clinical decision support, and HIPAA-compliant security measures
  RELEASE_NOTES.md
Labels: type: documentation

feat: Add comprehensive upgrade guide for Vita Agents v2.1.0, detailing new features, installation steps, configuration options, and troubleshooting tips
  docs/UPGRADE_GUIDE.md
Labels: type: documentation

feat: Add comprehensive documentation for Vita Agents v2.1.0, including features overview, version history, and HMCP integration details
  README.md
  docs/FEATURES_OVERVIEW.md
  docs/VERSION_HISTORY.md
Labels: type: documentation

feat: Add detailed release summary and roadmap for Vita Agents v2.1.0, highlighting new features, technical achievements, and future development plans
  docs/RELEASE_SUMMARY.md
  docs/ROADMAP.md
Labels: type: documentation

feat: Revamp README with enhanced agent architecture diagrams, communication flow, and detailed layer explanations for improved clarity and understanding
  README.md
Labels: type: documentation

fix: Update references from "Healthcare Multi-agent Communication Protocol" to "Healthcare Model Context Protocol" in documentation and examples for consistency
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  examples/hmcp_workflows.py
Labels: type: documentation

feat: Implement Healthcare MCP Workflow Example
  README.md
  docs/HMCP_MODEL_CONTEXT_PROTOCOL.md
  examples/healthcare_mcp_workflow_demo.py
  vita_agents/agents/enhanced_hmcp_agent.py
Labels: type: documentation

feat: Implement Healthcare Model Context Protocol (HMCP) Server
  requirements-mcp.txt
  vita_agents/agents/healthcare_agent_framework.py
  vita_agents/agents/mcp_compliant_hmcp_agent.py
  vita_agents/protocols/hmcp_client.py
  vita_agents/protocols/hmcp_sampling.py
  vita_agents/protocols/hmcp_server.py
Labels: type: documentation, dependencies

feat: Implement comprehensive Healthcare Guardrails System for HMCP with PHI detection, prompt injection protection, clinical safety validation, and medication interaction checks
  vita_agents/security/hmcp_guardrails.py
Labels: none

feat: Implement Healthcare Authentication System for HMCP with OAuth2/JWT support, role-based access control, and audit logging
  vita_agents/auth/hmcp_authentication.py
Labels: none

feat: Add comprehensive integration and testing suite for MCP-compliant HMCP
  tests/test_mcp_integration.py
Labels: type: tests

feat: Add comprehensive implementation summary for MCP-compliant HMCP, detailing architecture, key features, and testing validation
  MCP_IMPLEMENTATION_SUMMARY.md
Labels: type: documentation

feat: Restore and enhance MCP-Compliant HMCP Implementation Summary with detailed architecture, key features, and testing validation
  docs/MCP_IMPLEMENTATION_SUMMARY.md
Labels: type: documentation

feat: Update default model in configuration and enhance LLMManager to load and save model settings
  config/llm_config.json
  llm_integration.py
Labels: type: configuration

feat: Rename HMCP to Healthcare Model Context Protocol across documentation and implementation files
  README.md
  docs/HMCP_INTEGRATION.md
  docs/RELEASE_SUMMARY.md
  docs/UPGRADE_GUIDE.md
  docs/VERSION_HISTORY.md
  examples/hmcp_workflows.py
  vita_agents/agents/hmcp_agent.py
  vita_agents/protocols/hmcp.py
Labels: type: documentation

Add image and update README formatting
  README.md
Labels: type: documentation

Change image dimensions in README
  README.md
Labels: type: documentation

Update image size in README.md
  README.md
Labels: type: documentation

Update README.md
  README.md
Labels: type: documentation

feat: Implement Healthcare Agent Framework with multi-agent capabilities
  HEALTHCARE_AGENT_FRAMEWORK.md
  README.md
  enhanced_cli.py
  healthcare_agent_framework.py
Labels: type: documentation

feat: Implement Healthcare Team Framework for Vita Agents
  enhanced_cli.py
  healthcare_team_framework.py
Labels: none

fix: Update team listing method and agent count display in demo function
  enhanced_cli.py
Labels: none

fix: Refactor demo function to use create_default_healthcare_teams and improve team response simulation
  enhanced_cli.py
Labels: none

docs: Update README to reflect v3.0.0 release and enhance healthcare framework details
  README.md
Labels: type: documentation

docs: Enhance README with core features, capabilities, and installation instructions; update requirements for improved dependencies
  .env.template
  README.md
  requirements-dev.txt
  requirements.txt
Labels: type: documentation, type: configuration, dependencies

feat: add SMART on FHIR Security Agent with comprehensive OAuth2 and consent management capabilities
  enhanced_cli.py
  vita_agents/agents/cds_hooks_agent.py
  vita_agents/agents/consent_management_agent.py
  vita_agents/agents/hl7_v3_agent.py
  vita_agents/agents/smart_security_agent.py
Labels: none

Refactor code structure for improved readability and maintainability
  enhanced_cli.py
  vita_agents/agents/ccow_agent.py
  vita_agents/agents/cda_agent.py
  vita_agents/agents/spl_agent.py
Labels: none

Refactor code structure for improved readability and maintainability
  vita_agents/agents/arden_syntax_agent.py
  vita_agents/agents/claims_attachments_agent.py
  vita_agents/agents/ehr_phr_functional_agent.py
  vita_agents/agents/gello_expression_agent.py
Labels: none

feat: Major release of Vita Agents v4.0.0 with complete HL7 ecosystem coverage
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  docs/COMPLETE_HL7_IMPLEMENTATION_SUMMARY.md
  docs/FEATURES_OVERVIEW.md
Labels: type: documentation

.github/labeler.yml:

# Automatic labeling based on file paths and content

# Core Components
"component: fhir-agent":
  - "vita_agents/agents/fhir_agent.py"
  - "vita_agents/agents/enhanced_fhir_agent.py"
  - "vita_agents/clients/open_source_clients.py"
  - any: ["**/fhir/**", "**/*fhir*"]

"component: hl7-agent":
  - "vita_agents/agents/hl7_agent.py"
  - any: ["**/hl7/**", "**/*hl7*"]

"component: ehr-agent":
  - "vita_agents/agents/ehr_agent.py"
  - any: ["**/ehr/**", "**/*ehr*"]

"component: web-portal":
  - any: ["**/web/**", "**/portal/**", "**/frontend/**"]

"component: cli":
  - "vita_agents/cli.py"
  - "vita_agents/cli/**"

"component: api":
  - any: ["**/api/**", "**/endpoints/**", "**/routes/**"]

"component: database":
  - any: ["**/models/**", "**/db/**", "**/database/**", "**/migrations/**"]

"component: docker":
  - "Dockerfile*"
  - "docker-compose*.yml"
  - ".dockerignore"
  - any: ["**/docker/**"]

# File Types
"type: documentation":
  - "*.md"
  - "docs/**"
  - "*.rst"
  - "*.txt"
  - "mkdocs.yml"

"type: configuration":
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.ini"
  - "*.cfg"
  - ".env*"
  - "config/**"

"type: tests":
  - "tests/**"
  - "test_*.py"
  - "*_test.py"
  - "**/*test*.py"

"type: ci/cd":
  - ".github/**"
  - ".gitlab-ci.yml"
  - "azure-pipelines.yml"
  - "Jenkinsfile"

# Healthcare Standards
"healthcare: fhir":
  - any: ["**/*fhir*", "**/fhir/**"]

"healthcare: hl7":
  - any: ["**/*hl7*", "**/hl7/**"]

"healthcare: dicom":
  - any: ["**/*dicom*", "**/dicom/**"]

"healthcare: snomed":
  - any: ["**/*snomed*", "**/snomed/**"]

# Dependencies
"dependencies":
  - "requirements*.txt"
  - "setup.py"
  - "setup.cfg"
  - "pyproject.toml"
  - "Pipfile*"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "yarn.lock"

# Security
"security":
  - any: ["**/security/**", "**/*security*", "**/auth/**", "**/*auth*"]

# Performance
"performance":
  - any: ["**/performance/**", "**/benchmark/**", "**/*perf*"]

# Infrastructure
"infrastructure":
  - "terraform/**"
  - "*.tf"
  - "ansible/**"
  - "*.yml"
  - "k8s/**"
  - "kubernetes/**"

# Size labels (based on lines changed)
"size: XS":
  - changed-files: 1-5

"size: S":
  - changed-files: 6-15

"size: M":
  - changed-files: 16-50

"size: L":
  - changed-files: 51-100

"size: XL":
  - changed-files: 101+
